body {
    background-color: lightblue;
  }
  h1 {
    text-align: center;
    color: white;
  }
  form {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
  }
  p {
    font-weight: bold;
  }
  label {
    display: block;
    margin: 10px 0;
  }
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }